<div>
  <table cellspacing="2" border="5" cellpadding="5" width="80%" height="20%" cols="6" rules="all">
    <thead>
    <th colspan="6">
      Phones
    </th>
    </thead>
    <tr>
      <th>ФИО</th>
      <th>Должность</th>
      <th>Отдел</th>
      <th>Кабинет</th>
      <th>Телефон внутренний</th>
      <th>Телефон мобильный</th>
    </tr>
    <tr>
      <td><%= render @users %></td>
    </tr>
  </table>
</div>