<div class="table_1">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr align="center"><td class="td">Phones</td></tr>
    <tr align="center"><td class="td"><%= render @cabinets %></td></tr>
  </table>
</div>